html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #f0f0f0;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.section__header {
    padding: 20px;
    border-bottom: 2px solid #e1e1e1;
    display: grid;
    grid-template-columns: auto 150px 150px;
}

.section__header--buttons {
    padding: 5px 20px 5px 20px;
    margin-top: 20px;
}

.section__buttons {
border: none;
background-color: #ffffff;
color: hsl(180, 100%, 25%);
}

.section__buttons:hover {
    color: hsl(180, 100%, 30%);
}

.section__buttons:active {
    color: hsl(180, 100%, 35%);
}

.section__body {
    padding: 20px;
}

.section {
    background-color: #ffffff;
    margin: 10px 0;
    box-shadow: 0px 8px 5px -16px rgba(66, 68, 90, 1);
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    border: 2px solid #e1e1e1;
    padding: 10px;
}

.form__input:focus {
    outline: none !important;
    border: 2px solid #574f4f;
}

.form__button {
    color: #dbfaf6;
    background-color: hsl(180, 100%, 25%);
    border: none;
    padding: 10px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

.list {
    padding: 0;
    margin: 0;
}

.list__item {
    border-bottom: 2px solid #E9E9E9;
    padding: 10px;
    display: flex;
}

.list__remove--img,
.list__done--imgDone,
.list__done--imgNotDone {
    width: 32px;
    height: 32px;
}

.list__remove {
    margin: 0 0 0 auto;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.list__done {
    margin: 0 10px 0 10px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.list__item--done {
    text-decoration: line-through;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}