html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    margin: 0 auto;
    background-color: #F1F1F1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    max-width: 800px;
    margin: 0 auto;
}

.section__input {
    border-width: 0px 2px 2px 2px;
    border-color: #E9E9E9;
    border-style: solid;
    display: flex;
    height: 60px;
    padding-left: 10px;
}

.section__label {
    font-size: 20px;
    border: 2px solid #E9E9E9;
    padding: 10px;
}

.form__label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}


.form__input {
    width: 80%;
    margin: 10px;
    height: 35px;
    border: solid #EEEEEE;
    padding-left: 10px;
}

.form__input:focus {
    outline: none !important;
    border: 1px solid #574f4f;
}

.form__button {
    color: #dbfaf6;
    background-color: #017B92;
    border: none;
    width: 20%;
    margin: 10px;
    height: 35px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

.tasksList__header {
    max-width: 800px;
    margin: 5px auto 0 auto;
    background-color: #ffffff;
    border: 2px solid #E9E9E9;
    padding: 5px 0px 5px 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.tasksList {
    max-width: 800px;
    margin: 0px auto 0 auto;
    background-color: #ffffff;
    border-width: 0px 2px 2px 2px;
    border-color: #E9E9E9;
    border-style: solid;
    padding: 5px 0px 5px 0px;
}

.tasksList__ul {
    padding: 0px 0px 10px 0px;
    list-style: none;
}

.list__item {
    border-bottom: 2px solid #E9E9E9;
    width: 100%;
    padding: 10px;
    display: flex;
}

.list__remove--img,
.list__done--imgDone,
.list__done--imgNotDone {
    width: 32px;
    height: 32px;
}

.list__remove {
    margin: 0 0 0 auto;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.list__done {
    margin: 0 10px 0 10px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.list__item--done {
    text-decoration: line-through;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    .section__input {
        display: inline-block;
        height: 120px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .form__input {
        width: 90%;
    }

    .form__button {
        font-size: 70%;
        width: 90%;
    }
}